 h1 {
    padding: 16px 16px;
    background-color:#eed;
    color:red;
    font-family: Georgia, sans-serif, "Times new roman";
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-family: "Unify Sans regular", sans-serif, "Times new roman";
    font-size: 30px;
}

p {
    font-family: "Unify Sans regular", sans-serif, "Times new roman";
    font-size: 20px;
    font-weight: 500;
    text-align:left

}

ul {
    font-family: "Unify Sans regular", sans-serif, "Times new roman";
    font-size: 20px;
    font-weight: 500;
}

ol {
    font-family: "Unify Sans regular", sans-serif, "Times new roman";
    font-size: 20px;
    font-weight: 500;
}

.center {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.pages {
    padding: 10px 16px;
    list-style: none;
    background-color: #eed;
    font-size: 20px;
    font-weight: 700;
    font-family: "Unify Sans regular", 'Courier New', Courier, monospace, sans-serif, "Times new roman";
    }
    
  