html {
    min-height: 100vh;
  }

 @media (max-width:768px) {
    .pages{  flex-direction: column}
    }
 
  body {
    min-height: 100vh;    
  }

  h1 {
    margin-bottom: 8px;
    margin-top: 8px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(179,57,81);
    padding: 6px;
    background-color:#eed;
    color:rgb(179,57,81);
    font-family: Georgia, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-family: "Unify Sans regular", sans-serif;
    font-size: 30px;
    color:rgb(179,57,81);
}

p {
    font-family: "Unify Sans regular", sans-serif, "Times new roman";
    font-size: 20px;
    font-weight: 500;
    text-align:left
}

ul {
    font-family: "Unify Sans regular", sans-serif, "Times new roman";
    font-size: 20px;
    font-weight: 500;
}

ol {
    font-family: "Unify Sans regular", sans-serif, "Times new roman";
    font-size: 20px;
    font-weight: 500;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;    
}

.pages {
    margin-top: 8px;
    padding:6px;
    list-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(179,57,81);
    background-color: #eed;
    font-size: 18px;
    font-weight: 100;
    font-family: "Unify Sans regular", sans-serif, "Times new roman";
        }
        
.list-title {
    position:relative;
    bottom:1px;
}

.pages a{
    background-color: rgb(179,57,81);
    color: #fff;
    text-decoration: none;
    padding: 8px 8px;
    margin: 1px;
    border-style:solid;
    border-width: 2px;
    border-color: darkblue;
    display:inline-block;
    width: auto;

           }
      
.pages a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
            }

footer {
    margin-top: 2px;
    font-family: "Unify Sans regular", 'Courier New', Courier, monospace, sans-serif, "Times new roman";
}
